---
---

@import "{{ site.theme }}";


header img {
  display: none !important;
}

/* 1. Élargir la zone totale */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* 2. Fixer le profil à gauche */
header {
  width: 240px;
  float: left;
  position: fixed;
}

/* 3. Ajuster la zone de contenu */
section {
  width: calc(100% - 300px);
  float: right;
  padding-left: 40px;
}

/* 4. Mode Mobile */
@media screen and (max-width: 768px) {
  header, section {
    float: none;
    position: static;
    width: 100%;
  }
  .wrapper {
    padding: 0 20px;
  }
}

/* État de base de l'image */
.zoom-img {
  transition: transform 0.3s ease-in-out;
  cursor: zoom-in;
  display: block;
  margin: 20px auto;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

/* Petit zoom AU SURVOL uniquement si la classe .full-zoom n'est PAS présente */
.zoom-img:hover:not(.full-zoom) {
  transform: scale(1.05);
}

/* Zoom complet (activé par le clic via JS) */
.full-zoom {
  transform: scale(1.8) !important;
  z-index: 999 !important;
  cursor: zoom-out !important;
}
/* Style de la barre de progression en haut */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; /* Doit être au-dessus de tout */
  width: 100%;
  height: 5px;
  background: rgba(0,0,0,0.1);
}

.progress-bar {
  height: 5px;
  background: #1E7BC9; 
  width: 0%;
}
