<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="progress-container"><div class="progress-bar" id="myBar"></div></div>
    
    <div class="wrapper project-container">
  
      <nav class="project-toc">
        <div class="toc-sticky-content">
          <p class="toc-title">Summary</p>
          </div>
      </nav>
          
      <section class="project-content">
        <a href="{{ '/' | relative_url }}" class="back-link" style="text-decoration: none; color: #666; font-size: 0.9em; display: block; margin-bottom: 40px; transition: transform 0.2s;">← Back to projects</a>
        
        {{ content }}
      </section>
    
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
